/vendor/
node_modules/
npm-debug.log
yarn-error.log
/storage/*
db_data/
backups/
.editorconfig
.DS_Store
db/postgres/data

# keys and env variables
storage/*.key
**.env

# Gitkeep - must be last item in file
!/**/.gitkeep
