DATABASE_URL=postgres://postgres:postgres@postgres-db:5432/app_db
REDIS_URL=redis-cache
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_DEFAULT_HOST=rabbitmq-queue
RABBITMQ_DEFAULT_PORT=5672